/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 80%;
  margin: 0 auto;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
html,
body {
  height: 100%;
}
header {
  display: flex;
  flex-direction: row-reverse;
  margin: 4% 0;
  background: aqua;
  padding: 5%;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
@media (max-width: 800px) {
  header {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
header h1 {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 4%;
}
header .profile-pic {
  width: 30%;
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
@media (max-width: 800px) {
  header .profile-pic {
    width: 100%;
  }
}
header .info-container {
  display: flex;
  flex-direction: column;
  width: 68%;
}
@media (max-width: 800px) {
  header .info-container {
    width: 100%;
  }
}
header .info-container .subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
header .info-container .subcontainer h2 {
  width: 59%;
}
header .my-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5%;
  background: lightgrey;
  border: 1px solid grey;
  border-radius: 10px;
  width: 39%;
}
header .my-info h3 {
  text-align: center;
  font-size: 2rem;
}
